body {
  margin: 0;
  font-family: "Schoolbell", "Stack Sans Headline";
  background: #FAEAE5;
}

.app {
  display: flex;
  justify-content: center;
  padding: 20px;
}

h1 {
  font-family: "Schoolbell", sans-serif;
  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 48px;

}

h2 {
  font-family: "Stack Sans Headline", sans-serif;
  color: #000000;
}

p {
  font-family: "Stack Sans Headline", sans-serif;
  font-size: 20px;
}

button {
  background: #8ACC98;
  color: white;
  padding: 12px 16px;
  border-radius: 15px;
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
}

button.secondary {
  background: #8ACC98;
}

button.danger {
  background: #D95C3A;
}

button:hover {
  background: #438561;
  cursor: pointer;
}

.preferences {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.preferences label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  max-width: 300px;
}

.preferences select {
  margin-top: 5px;
  padding: 10px;
  border-radius: 8px;
}

.results {
  margin-top: 30px;
  padding: 20px;
  background: #f1f1f1;
  border-radius: 12px;
}

.recipeCard {
  background: #FAEAE5;
  padding: 12px;
  border-radius: 12px;
  margin-top: 10px;
}

.uploadBtn {
  align-items: center;
  background-color: #438561;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.upload-btn:hover {
  background-color: #bfc5cc;
}

.authContainer {
  display: flex;
  min-height: 100vh;
  gap: 40px;
  padding: 20px;
  box-sizing: border-box;
}

.authLeft {
  flex: 1;
  background: linear-gradient(180deg, #8ACC98 0%, #1e673f 88%);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 60px;
}

.authLeft h1 {
  font-size: 4rem;
  color: white;

}

.authLeft p {
  max-width: 400px;
  font-size: 1.2rem;
}


.heroLogo {
  width: 300px;
  margin-top: 30px;
}



.authRight {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.authCard {
  width: 350px;
  background: white;
  padding: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.authCard input {
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.authTabs {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}

.authTabs button {
  flex: 1;

}

.activeTab {
  background: #438561;
}

.header {
  position: sticky;
  justify-content: space-between;
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  background: #FAEAE5;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  color: #438561;
  cursor: pointer;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}